body
{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
position:relative; left:0; overflow-x:hidden;
}
img
{
border:0;
}
h1, h2, h3, h4, h5, h6
{
margin:0;
padding:0;
font-weight:normal;
}
ul, ol
{
margin:0;
padding:0;
list-style:none;
}


/*header code */

.header_con
{
	width:100%;
	float:left;
	background: url(../images/bg.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding:96px 0 120px;
}

.header_con h1
{
	font-size:48px;
	text-transform:uppercase;
	color:#FFF;
	text-align:center;
	font-family: 'avantgarde_lt_boldregular';
	letter-spacing:1px;
}


.header_con p
{
	font-size:18px;
	color:#FFF;
	text-align:center;
	font-family: 'didact_gothicregular';
	padding:0 180px;
	margin:20px 0;
}

.btn_con
{
	width:100%;
	float:left;
	text-align:center;
	padding:20px 0 0 0;
}

.btn_con a
{
	border:2px solid #FFF;
	font-size:20px;
	color:#ffffff;
	text-decoration:none;
	width:400px!important;
	display:inline-block;
	text-align:center;
	line-height:58px;
	font-family: 'avantgarde_lt_boldregular'!important;
	text-transform:uppercase;
}

.btn_con a:hover
{
	color:#FFF;
	text-decoration:none;
	border:2px solid #A3A7AC;
}


/*header code */


/*contact us section code*/

.contact_con
{
	width:100%;
	float:left;
	background:url(../images/map_img.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding:45px 0;
}

.contact_in
{
	width:100%;
	background-color:#FFF;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
float:left;
}


.contact_in h2
{
	color:#fff;
	background-color:#17487d;
	text-align:center;
	font-size:36px;
	font-family: 'avantgarde_lt_boldregular'!important;
	text-transform:uppercase;
	padding:25px 0;
	margin:0;
}
.contact_in h2 a
{
color:#fff;
text-decoration:none;
}
.contact_touch
{
width:100%;
float:left;
padding:40px;
}
.contact_touch .col-sm-5
{
padding:0;
}
.contact_touch .col-sm-5 li
{
width:100%;
float:left;
border-bottom:1px #B1B4B4 dotted;
padding:15px 0 15px;
}
.contact_touch .col-sm-5 li:last-child
{
border-bottom:none;
}
.contact_touch .col-sm-6
{
padding:0;
}

.contact_touch .col-sm-5 h3
{
margin:0;
padding:0 0 10px;
border-bottom:1px #DCE0DF solid;
font-size:24px;
color:#17487D;
font-weight:normal;
font-family: 'avantgarde_bk_btdemi';
}
.contact_touch .col-sm-6 h3
{
margin:0 0 15px;
padding:0 0 10px;
border-bottom:1px #DCE0DF solid;
font-size:24px;
color:#17487D;
font-weight:normal;
font-family: 'avantgarde_bk_btdemi';
}
.contact_icon
{
width:20px;
float:left;
}
.contact_icon_text
{
width:245px;
float:right;
}
.contact_icon_text p
{
font-family: 'didact_gothicregular';
font-size:14px;
color:#646A69;
margin:0;
padding:0;
}
.contact_icon_text p a
{
text-decoration:none;
color:#646A69;
}
.contact_icon_text p a:hover
{
text-decoration:underline;
}
.contact_input
{
width:100%;
float:left;
font-size:14px;
color:#646A69;
font-family: 'didact_gothicregular';
font-weight:bold;
margin-bottom:8px;
}
.contact_input input[type=text]
{
width:100%;
float:left;
height:34px;
background-color:#DCE0DF;
border:none;
padding:0 10px;
font-family: 'didact_gothicregular';
font-weight:normal;
margin-top:8px;
outline:none;
}
.contact_input input[type=text]:hover
{
background-color:#e5e9e8;
}
.textarea
{
width:100%;
float:left;
height:76px;
background-color:#DCE0DF;
border:none;
padding:10px 10px;
font-family: 'didact_gothicregular';
font-weight:normal;
margin-top:8px;
outline:none;
}
.textarea:hover
{
background-color:#e5e9e8;
}
.submitbtn
{
width:200px;
border:3px #17487D solid;
float:right;
outline:none;
height:38px;
text-align:center;
font-size:18px;
color:#17487D;
text-transform:uppercase;
font-family: 'avantgarde_lt_boldregular';
background-color:#fff;
margin-top:8px;
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.submitbtn:hover
{
background-color:#17487D;
color:#fff;
}
/*contact us section code*/

/*side_menu*/
.open { text-align:left; padding:0px 0; top:20px; left:20px; position:absolute; cursor:pointer;}
#slide-menu {
    margin-left: -180px;
    left: 0;
    width: 180px;
    background: #123A65;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    font-family: Roboto,sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 1.5em;
}
.navigation {
    position: absolute;
    top: 0;
    width: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li {
	width:180px;
	height:180px;
	display:table;
	text-align:center;
}
.navigation li:nth-child(2)
{
background-color:#0E2F54;
}
.navigation li a {
    display: block;
    padding: 0px 0;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
	display:table-cell;
	vertical-align:middle;
}
.navigation li a:hover {
    color: #fff;
    background:#062343;
    text-decoration: none;
    padding-top: 20px;
}

.navigation li a:active,
.navigation li a:focus {
    text-decoration: none
}

.toggle {
    margin: 5px 5px 0 0
}
.sm_outer
{
width:100%;
position:absolute;
bottom:10px;
text-align:center;
}
.logo
{
width:100%;
float:left;
text-align:center;
margin-bottom:20px;
}

/*side_menu_end*/