@font-face {
    font-family: 'avantgarde_lt_boldregular';
    src: url('fonts/itc_avant_garde_gothic_lt_bold_0.eot');
    src: url('fonts/itc_avant_garde_gothic_lt_bold_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/itc_avant_garde_gothic_lt_bold_0.woff') format('woff'),
         url('fonts/itc_avant_garde_gothic_lt_bold_0.ttf') format('truetype'),
         url('fonts/itc_avant_garde_gothic_lt_bold_0.svg#avantgarde_lt_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'didact_gothicregular';
    src: url('fonts/didactgothic.eot');
    src: url('fonts/didactgothic.eot?#iefix') format('embedded-opentype'),
         url('fonts/didactgothic.woff') format('woff'),
         url('fonts/didactgothic.ttf') format('truetype'),
         url('fonts/didactgothic.svg#didact_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avantgarde_bk_btdemi';
    src: url('fonts/avant_garde_demi_bt.eot');
    src: url('fonts/avant_garde_demi_bt.eot?#iefix') format('embedded-opentype'),
         url('fonts/avant_garde_demi_bt.woff') format('woff'),
         url('fonts/avant_garde_demi_bt.ttf') format('truetype'),
         url('fonts/avant_garde_demi_bt.svg#avantgarde_bk_btdemi') format('svg');
    font-weight: normal;
    font-style: normal;

}